.article {
  padding: 0 0 7.1875% 11.71875%; /* 92px y 150px */
  text-align: left;
}

.article__title {
  font-size: 54px;
  line-height: 1.074; /* 58 / 54 */
  font-weight: 900;
  margin-bottom: 3.125%; /* 40px */
  max-width: 64.84375%; /* 830px */
}

.article__quote,
.article__quote_autor {
  font-size: 24px;
  line-height: 1.417; /* 34 / 24 */
  font-weight: 400;
  max-width: 57.65625%; /* 738px */
}

.article__quote_autor {
  margin-top: 0.78125%; /* 10px */
  margin-bottom: 2.5%; /* 32px */
  text-align: right;

}

.article__description {
  font-size: 16px;
  line-height: 1.63; /* 163% */
  font-weight: 400;
  max-width: 56.40625%; /* 722px */
  text-align: left;
}


/* 768 px (tablet) */

@media (min-width: 544px) and (max-width: 1023.98px) {
  .article {
    padding: 0 0 11.4583% 3.125%; /* 88px 24px */
    text-align: left;
  }

  .article__title {
    font-size: 45px;
    line-height: 1.0889; /* 49 / 45 */
    font-weight: 900;
    margin-bottom: 6.5104%; /* 50px */
    max-width: 92.0572%; /* 707 de 768px */
  }

  .article__quote,
  .article__quote_autor {
    font-size: 24px;
    line-height: 1.417; /* 34 / 24 */
    font-weight: 400;
    max-width: 93.75%; /* 720px de 768px */
  }

  .article__quote_autor {
    margin-top: 1.3020%; /* 10px */
    margin-bottom: 4.1666%; /* 32px */
    text-align: right;
  }

  .article__description {
    font-size: 16px;
    line-height: 1.63; /* 163% */
    font-weight: 400;
    max-width: 93.75%; /* 720px de 768px */
    text-align: left;
  }
}

/* 320 px (monbile) */

@media (max-width: 543px) {
 .article {
    padding: 0 0 20% 5%;
    text-align: left;
  }

  .article__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09; /* 35 / 32 */
    margin-bottom: 12.5%;
    max-width: 90%;
  }

  .article__quote,
  .article__quote_autor {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25; /* 30 / 24 */

    max-width: 90%;
  }

  .article__quote_autor {
    line-height: 1.417; /* 34 / 24 */
    margin-top: 3.125%;
    margin-bottom: 23.75%;
    text-align: right;
  }

  .article__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    max-width: 90%;
    text-align: left;
  }

  }