.gallery-grid {
    padding: 0 4.1406% 7.1875% 3.3593%; /* 0 53px 92px 43px*/
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.gallery__image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* 768 px (tablet) */

@media (min-width: 544px) and (max-width: 1023.98px) {

.gallery {
    padding: 0 3.125% 18.2291% 3.125%; /* 0 24px 140px 24px*/
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.gallery__image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

}



/* 320 px (mobile) */

@media (max-width: 543px) {

.gallery {
    padding: 0 5% 19.375% 5%; /* 0 16px 62px 16px*/
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 12px;
  row-gap: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.gallery__image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

  }
